VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://qhtfqfohswbxbyqqidrc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFodGZxZm9oc3dieGJ5cXFpZHJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDE2OTEsImV4cCI6MjA5NTI3NzY5MX0.EzO1LiEF2gnq9ZTQR5EFppBdOo-8Df6DIkMjZacLmLE
